.hamburger{
	position: relative;
	display: inline-block;
	margin-left: 10px;
	width: 23px;
	height: 20px;
	float: right;
	border: 0;
	border-top: 3px solid white;
	background: transparent;
	cursor: pointer;
	transition: 0.3s transform linear;
}

.hamburger::before, .hamburger::after {
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 3px solid white;
	transform: translateY(6px);
}

.hamburger::after {
	transform: translateY(15px);
	transition: 0.3s transform linear;
}

.hamburger.focus {
	transform: rotate(45deg);
	border: none;
}

.hamburger.focus::after {
	transform: rotate(-90deg) translateX(-6px) translateY(0px);
}