.btn {
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	padding: 12px;
	border: 0;
	font-weight: 300;
	@extend %shadow;
	color: white;
	&.square {
		width: 40px;
		height:40px;
		text-align: center;
		border-radius: 10px;
	}
	&.wide{
		width:100%;
	}
	&.medium{
		width: 50%;
	}
	&.std{
		min-width: 120px;
		float: right;
		margin-left: 20px;
	}
	&.grey{
		background: $btn-background-grey;
	}
	&.lightgrey{
		background: $btn-background-lightgrey;
		color: $btn-font-lightgrey;
	}
	&.orange{
		background: $brand-main-color;
	}
	&.chat {
		min-width: 10%;
		float: right;
		margin-left: 20px;
	}
	svg {
		path {
			fill: $lt-menu-font-color-hover;
		}
	}
	&.statusOnline {
		padding: 5px;
		line-height: 10px;
		font-size: 10px;
		border-radius: 3px;
		display: inline-block;
		color: white;
		background: #04AE00;
		width: 65px;
	}
}

